* {
    margin: 0;
    padding: 0;
}

div {
    border: 1px red solid;
}

ul {
    display: inline-block;
    overflow: hidden;
    line-height: 20px;
    text-align: center;
}

ul li {
    border-right: 2px black solid;
    list-style: none;
    float: left;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

ul li:nth-of-type(7) {
    border-right: none
}

li a {
    text-decoration: none;
}

li:hover a {
    display: inline-block;
    color: red;
    transform: translate(-12px, 0);
    transition: 1s ease-out;
}

div ul:nth-of-type(2) {
    width: 300px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

div ul:nth-of-type(2) li {
    width: 24px;
    height: 24px;
    margin: 2px;
    padding: 0;
    border: none;
}

ul:nth-of-type(2) li:nth-of-type(1) {
    background: url(./images/iconsB_11.gif) no-repeat left;
}

ul:nth-of-type(2) li:nth-of-type(2) {
    background: url(./images/iconsB_12.gif) no-repeat left;
}

ul:nth-of-type(2) li:nth-of-type(3) {
    background: url(./images/iconsB_13.png) no-repeat left;
}

ul:nth-of-type(2) li:hover {
    transform: rotate(90deg);
    transition: ease-out 1s;
}

li span {
    display: block;
    width: 38px;
    height: 23px;
    /* float: left; */
    position: absolute;
    top: 4px;
}

li:nth-of-type(1) span {
    background: url(./images/header_03.png);
}

li:nth-of-type(3) span {
    background: url(./images/header_07.png);
}

li:nth-of-type(1):hover span {
    width: 66px;
    background: url(./images/header_05.png);
    transform: translate(-12px, 0);
    transition: ease-out 1s;
}

li:nth-of-type(3):hover span {
    width: 66px;
    background: url(./images/header_09.png);
    transform: translate(-12px, 0);
    transition: ease-out 1s;
}